---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Services from "../sections/Services.astro";
import Features from "../sections/Features.astro";
import Testimonial from "../sections/Testimonial.astro";
import CTA from "../sections/CTA.astro";
---
<BaseLayout>
	<main>
		<Hero />
		<About />
		<Services />
		<Features />
		<Testimonial />
		<CTA />
	</main>
</BaseLayout>

